.body-part-icon {
  width: 40px;
  height: 40px;
}
.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.item-title {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
}
